input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

img {
  width: 120px;
  height: 120px;
}

.link-white {
  color: white;
  text-decoration: none;
}

.link-white:hover {
  color: white;
}

.btn a {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

td .bi {
  cursor: pointer;
}

.quantity {
  padding: 0px;
  margin: 0px;
  width: 2em;
  height: 1.5em;
}

.number-input button {
  width: 2em;
  height: 2em;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

footer {
  margin-top: 100px;
}

.container {
  min-height: calc(100vh - 150px);
}
